@use '../abstracts' as *;
@use '../base' as *;

.btn{
    font-size: 16px;
    font-style: italic;
    font-weight: 7000;
    color: $white;
    border-radius: 50px;
    line-height: 22px;
    background-color: $black;
    padding: 10px 50px;
    border: none;
    border: 1px solid $white;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    font-weight: 700;
    font-style: italic;
    &:hover{
        background-color: $white;
        color: $black;
        cursor: pointer;
    }
}
